<!DOCTYPE html>
<head>
    <title>Home - Devops Demo</title>
</head>
<body>
    <h1> This shows pipeline working: fixing rolling update ..  </h1>
    <h2>Enter your Details </h2>
    

    <form action="../data_entry.py/", method="POST">
    <label> First Name:</label>
    <input type="text" name="first_name" required>
    <label> Last Name:</label>
    <input type="text" name="last_name"  required>
    <input type="submit" value="Submit">
    </form>
    {% block submit %} {% endblock %}
    <br/>
    
    <h2> Please Click below button for see all entries </h2>
    <form action="../data_show.py", method="GET">
    <input type="submit" value="Show all Entries">
    <br/>
    {% block show %} {% endblock %}
</body>
</html>
